<br>
<br />
<h1>Chào mừng đến với form admin</h1>

<a asp-controller="HangHoaManager" asp-action="Index">Quản lý sản phẩm</a>
<br />
<a asp-controller="CategoryManager" asp-action="Index">Quản lý loại sản phẩm</a>
<br />
<a asp-controller="CustomerManager" asp-action="Index">Quản lý tài khoản</a>
<br />
<a asp-controller="OrderManager" asp-action="Index">Quản lý đơn hàng</a>