<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ShopDongHoHoH</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/ShopDongHoMVC.styles.css" asp-append-version="true">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <!-- Owl Carousel JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <title>Đồng Hồ Đeo Tay Chính Hãng, Nhiều Mẫu Đẹp, Giá Tốt Mọi Phân Khúc</title>
    <meta name="keywords" content="đồng hồ chính hãng, đồng hồ đeo tay, cửa hàng đồng hồ, tiệm đồng hồ, đồng hồ nam, đồng hồ nữ, shop đồng hồ">
    <meta name="description" content="Mua Đồng Hồ Đeo Tay Chính Hãng, Giá Tốt Tại Shop WatchStore. Với 5 Cửa Hàng Tại Việt Nam Uy Tín. Bảo Hành 5 Năm, Sẵn Hàng, Free Ship, Trả góp 0%.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:site_name" content="WatchStore.vn">
    <meta property="og:title" content="Đồng Hồ Đeo Tay Chính Hãng, Nhiều Mẫu Đẹp, Giá Tốt Mọi Phân Khúc">
    <meta property="og:description" content="Mua Đồng Hồ Đeo Tay Chính Hãng, Giá Tốt Tại Shop WatchStore. Với 5 Cửa Hàng Tại Việt Nam Uy Tín. Bảo Hành 5 Năm, Sẵn Hàng, Free Ship, Trả góp 0%.">
    <meta property="og:image" content="https://www.watchstore.vn/upload/original-image/444.jpg">
    <meta property="og:type" content="website/">
    <meta property="og:locale" content="vi_VN/">
    <link rel="canonical" href="https://www.watchstore.vn">
    <link href="https://www.watchstore.vn/favicon.ico" rel="shortcut icon" type="image/x-icon" sizes="16x16">
    <link href="https://www.watchstore.vn/favicon.ico" rel="apple-touch-icon">
    <link href="https://www.watchstore.vn/favicon.ico" rel="apple-touch-icon-precomposed">
    <meta name="copyright" content="WatchStore.vn">
    <meta name="author" content="WatchStore.vn">
    <meta http-equiv="audience" content="General/">
    <meta name="resource-type" content="Document/">
    <meta name="distribution" content="Global/">
    <meta name="revisit-after" content="1 days">
    <meta name="GENERATOR" content="WatchStore.vn">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
    <header class="ent-full center_header">
        <div class="ent-container ent-flex align-center">
            <a href="/">
                <picture class="logo_header">
                    <source type="image/webp" srcset="https://www.watchstore.vn/upload/image/logo-watchstore.webp">
                    <source type="image/jpeg" srcset="https://www.watchstore.vn/upload/original-image/logo-watchstore.png">
                    <img width="170" height="35" data-id="211470" class="img_list_211470" src="https://www.watchstore.vn/upload/original-image/logo-watchstore.png" alt="Đồng hồ Watchstore">
                </picture>
            </a>
            <div id="cssmenu">
                <ul>
                    <li>
                        <a href="/gioi-thieu">
                            <span class="text_menu">Giới thiệu</span>
                        </a>
                    </li>
                    <li>
                        <a href="/collections/xa-kho-gia-tot">
                            <span class="text_menu">Giảm Tới 68%</span>
                        </a>
                    </li>
                    <li class="foomenux">
                        <a href="#">
                            <span class="text_menu">Menu</span>
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="text_menu">Phổ biến nhất</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="/collections/dong-ho-casio-chinh-hang">
                                            <span class="text_menu">Casio</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/collections/dong-ho-orient-chinh-hang">
                                            <span class="text_menu">Orient</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/collections/dong-ho-seiko-chinh-hang">
                                            <span class="text_menu">Seiko</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/collections/dong-ho-olym-pianus-chinh-hang"><span class="text_menu">Olym Pianus</span></a>
                                    </li>
                                    <li> <a href="/collections/dong-ho-citizen-chinh-hang"><span class="text_menu">Citizen</span></a></li>
                                    <li> <a href="/collections/dong-ho-bentley-chinh-hang"><span class="text_menu">Bentley</span></a></li>
                                    <li> <a href="/collections/dong-ho-hanboro-chinh-hang"><span class="text_menu">Hanboro</span></a></li>
                                    <li> <a href="/collections/dong-ho-bulova-chinh-hang"><span class="text_menu">Bulova</span></a></li>
                                    <li> <a href="/collections/dong-ho-srwatch-chinh-hang"><span class="text_menu">SRWatch</span></a></li>
                                    <li> <a href="/collections/dong-ho-daniel-wellington-chinh-hang"><span class="text_menu">Daniel Wellington</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text_menu">Hàng cao cấp</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="/collections/dong-ho-tissot-chinh-hang">
                                            <span class="text_menu">Tissot</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/collections/dong-ho-frederique-constant-chinh-hang"><span class="text_menu">Frederique Constant</span></a>
                                    </li>
                                    <li> <a href="/collections/dong-ho-orient-star-chinh-hang"><span class="text_menu">Orient Star</span></a></li>
                                    <li> <a href="/collections/dong-ho-longines-chinh-hang"><span class="text_menu">Longines</span></a></li>
                                    <li> <a href="/collections/dong-ho-certina-chinh-hang"><span class="text_menu">Certina</span></a></li>
                                    <li> <a href="/collections/dong-ho-omega-chinh-hang"><span class="text_menu">Omega</span></a></li>
                                    <li> <a href="/collections/dong-ho-ogival-chinh-hang"><span class="text_menu">Ogival</span></a></li>
                                    <li> <a href="/collections/dong-ho-movado-chinh-hang"><span class="text_menu">Movado</span></a></li>
                                    <li> <a href="/collections/dong-ho-maurice-lacroix-chinh-hang"><span class="text_menu">Maurice Lacroix</span></a></li>
                                    <li> <a href="/collections/dong-ho-montblanc-chinh-hang"><span class="text_menu">Montblanc</span></a></li>
                                    <li> <a href="/collections/dong-ho-zenith-chinh-hang"><span class="text_menu">Zenith</span></a></li>
                                </ul>
                            </li>
                            <li> <a href="#"><span class="text_menu">Các hãng khác</span></a><ul><li> <a href="/collections/dong-ho-carnival-chinh-hang"><span class="text_menu">Carnival</span></a></li><li> <a href="/collections/dong-ho-iw-carnival-chinh-hang"><span class="text_menu">I&amp;W Carnival</span></a></li><li> <a href="/collections/dong-ho-calvin-klein-chinh-hang"><span class="text_menu">Calvin Klein</span></a></li><li> <a href="/collections/dong-ho-bonest-gatti-chinh-hang"><span class="text_menu">Bonest Gatti</span></a></li><li> <a href="/collections/dong-ho-daniel-klein-chinh-hang"><span class="text_menu">Daniel Klein</span></a></li><li> <a href="/collections/dong-ho-freelook-chinh-hang"><span class="text_menu">Freelook</span></a></li><li> <a href="/collections/dong-ho-sevenfriday-chinh-hang"><span class="text_menu">SevenFriday</span></a></li><li> <a href="/collections/dong-ho-mido-chinh-hang"><span class="text_menu">Mido</span></a></li><li> <a href="/collections/dong-ho-q-q-chinh-hang"><span class="text_menu">Q&amp;Q</span></a></li><li> <a href="/collections/dong-ho-fossil-chinh-hang"><span class="text_menu">Fossil</span></a></li><li> <a href="/collections/dong-ho-versace-chinh-hang"><span class="text_menu">Versace</span></a></li></ul></li>
                            <li> <a href="#"><span class="text_menu">Phân loại đồng hồ</span></a><ul><li> <a href="/collections/dong-ho-day-da"><span class="text_menu">Đồng Hồ Dây Da</span></a></li><li> <a href="/collections/dong-ho-day-kim-loai"><span class="text_menu">Đồng Hồ Kim Loại</span></a></li><li> <a href="/collections/dong-ho-co-automatic"><span class="text_menu">Cơ - Automatic</span></a></li><li> <a href="/collections/dong-ho-pin-quartz-chinh-hang"><span class="text_menu">Pin - Quartz</span></a></li><li> <a href="/collections/dong-ho-dien-tu"><span class="text_menu">Digital - Điện tử</span></a></li><li> <a href="/collections/dong-ho-lo-tim"><span class="text_menu">Open Heart - Lộ tim</span></a></li><li> <a href="/collections/dong-ho-nhat-ban-chinh-hang"><span class="text_menu">Đồng hồ Nhật Bản</span></a></li><li> <a href="/collections/dong-ho-thuy-sy-chinh-hang"><span class="text_menu">Đồng hồ Thụy Sỹ</span></a></li></ul></li>
                            <li> <a href="#"><span class="text_menu">Phong cách</span></a><ul><li> <a href="/collections/dong-ho-phong-cach-quan-doi"><span class="text_menu">Quân đội</span></a></li><li> <a href="/collections/dong-ho-phong-cach-the-thao"><span class="text_menu">Thể thao</span></a></li><li> <a href="/collections/dong-ho-dan-van-phong-cong-so"><span class="text_menu">Dân văn phòng</span></a></li><li> <a href="/collections/dong-ho-sieu-mong"><span class="text_menu">Siêu Mỏng</span></a></li><li> <a href="/collections/dong-ho-mat-vuong-chinh-hang"><span class="text_menu">Mặt vuông</span></a></li><li> <a href="/collections/dong-ho-unisex-chinh-hang"><span class="text_menu">Unisex</span></a></li><li> <a href="/collections/dong-ho-co-dien-vintage"><span class="text_menu">Cổ Điển Vintage</span></a></li><li> <a href="/collections/dong-ho-tieu-rolex"><span class="text_menu">Giống Rolex</span></a></li><li> <a href="/collections/dong-ho-tieu-hublot"><span class="text_menu">Giống Hublot</span></a></li><li> <a href="/collections/dong-ho-giong-patek-philippe"><span class="text_menu">Giống Patek Philippe</span></a></li><li> <a href="/collections/dong-ho-giong-richard-mille"><span class="text_menu">Giống Richard Mille</span></a></li><li> <a href="/collections/dong-ho-giong-audemars-piguet"><span class="text_menu">Giống Audemars Piguet</span></a></li></ul></li>
                        </ul>
                    </li>
                    <li> <a href="/collections/dong-ho-nam-chinh-hang"><span class="text_menu">Nam</span></a></li>
                    <li> <a href="/collections/dong-ho-nu-chinh-hang"><span class="text_menu">Nữ</span></a></li>
                    <li> <a href="/collections/dong-ho-luxury-chinh-hang"><span class="text_menu">Luxury</span></a></li>
                    <li> <a href="/collections/dong-ho-luot-chinh-hang"><span class="text_menu">Hàng lướt 99%</span></a></li>
                </ul>
            </div>
            <form action="/search" id="search" class="headsearch mainsearch ncart ent-flex align-center">
                <button aria-label="search" class="btntop" type="submit">
                    <i class="iconent-topsearch"></i>
                </button>
                <input autocomplete="off" name="query" class="topinput" type="text" maxlength="100" placeholder="Tìm đồng hồ theo tên, hãng..." id="skw">
                <div class="search-result"></div>
            </form> <div class="icon_menu">
                <a class="cart_x" href="/cart">
                    <div class="redxdt"></div>
                    <i class="iconent-topcart"></i>
                    <span></span>
                </a>
                <a class="favorite_x" href="/favorite">
                    <i class="iconent-yt"></i>
                    <span>

                    </span>
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - ShopDongHoMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
