@model ShopDongHoMVC.Data.Loai

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
}

<h1 class="text-center" style="background-color: #002D21; color: #daa37f; padding: 10px;">Xóa Loại Sản Phẩm</h1>

<div class="container py-5">
    <div class="card">
        <div class="card-body">
            <i class="bi bi-exclamation-triangle-fill" style="color: red;"></i> BẠN CHẮC CHẮN MUỐN XÓA SẢN PHẨM NÀY CHỨ ? <i class="bi bi-exclamation-triangle-fill" style="color: red;"></i>
            <hr />
            <h4>Thông tin loại sản phẩm:</h4>
            <dl class="row">
                <dt class="col-sm-3">Tên loại:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TenLoai)</dd>

                <dt class="col-sm-3">Tên Alias:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TenLoaiAlias)</dd>

                <dt class="col-sm-3">Mô tả:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.MoTa)</dd>

                <dt class="col-sm-3">Hình ảnh:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Hinh)</dd>
            </dl>
            <br />
            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="MaLoai" />
                <button type="submit" class="btn btn-danger">Xóa</button> |
                <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
            </form>
        </div>
    </div>
</div>
