@model ShopDongHoMVC.Data.Loai

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
}

<h1 class="text-center" style="background-color: #002D21; color: #daa37f; padding: 10px;">Chi Tiết Loại Sản Phẩm</h1>

<div class="container py-5">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin loại sản phẩm</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Tên loại:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TenLoai)</dd>

                <dt class="col-sm-3">Tên Alias:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TenLoaiAlias)</dd>

                <dt class="col-sm-3">Mô tả:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.MoTa)</dd>

                <dt class="col-sm-3">Hình ảnh:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Hinh)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.MaLoai" class="btn btn-primary">Chỉnh sửa</a>
        <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
    </div>
</div>
